<main>
<h1>Gossip#new</h1>
<p>Find me in app/views/gossip/new.html.erb</p>



<%= form_for(@gossip, :url => {:action => "create", :method => "post"}) do |f| %>
  <div class="form-group">
  <label>Titre</label>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <label>Content</label>
  <%= f.text_area :content, class: 'form-control' %>
</div>

<div class="form-group">
<%= f.button "My Button", type: "submit", :class=> "btn btn-primary" %>
</div>

<% end %>


<% if @gossip.errors.any? %>
<div class="alert alert-danger alert-form-false">
  <p>FDP, nous n'avons pas réussi à créer le potin pour la (ou les) putain de raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>