<h1>Gossip#show</h1>
<p>Find me in app/views/gossip/show.html.erb</p>
<div class="card-body">
  <h5 class="card-title"><%= @gossip.title %></h5>
  <p class="card-title"><strong>Content : </strong> <%= @gossip.content %></p>
  <p class="card-title"><strong>From : </strong><%= link_to "#{@gossip.user.first_name}  #{@gossip.user.last_name}", user_path(@user) %></p>
  <p class="card-text"> <strong>Create : </strong><%= @gossip.created_at.strftime("%d/%m/%Y") %></p>
  <p class="card-text"> <strong>Comments : </strong></p>
</div>

<form action= '<%= gossip_path %>' method="DELETE">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Delete">
</form>

