<main>
<h1 class="text-center">Tous les utilisateurs</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-center  mb-5">
<h2><%= link_to "Créer un utilisateur", new_user_path, class: "btn bouton-gossip justify-content-md-end me-md-2" %></h2>
</div>

<div class="row col-10 row-gossip">
  <% @users.each do |user| %>
    <div class="col-sm-2">
      <div class="card card-index">
        <h5 class="card-title"><%= user.first_name %></h5>
        <h5 class="card-title"><%= user.last_name %></h5>
          <div class="card__content">
            <h5 class="card-title"><%= user.first_name %></h5>
            <h5 class="card-title"><%= user.last_name %></h5>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <%= link_to "Accéder au profil", user_path(user.id), class: "btn bouton-gossip justify-content-md-end me-md-2" %>
            </div>
          </div>
      </div>
      <% end %>
      </div>
</main>