<br>
<br>
<br>
<br>
<br>
<%= form_for @user do |f| %>
  <div class="form-group">
    <label> first_name </label>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label> last_name </label>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label> age </label>
    <%= f.text_field :age, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label> email </label>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label> description </label>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.collection_select :city_id, City.order(:name), :id, :name %>
  </div>


  <div class="form-group">
    <button type="submit" class="btn btn-primary">Creer l'utilisateur</button>
  </div>
<% end %>
