<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1> User </h1>

  <h2><%= @user.first_name %></h2>
  <p><%= @user.last_name %></p>
  <p><%= @user.age %></p>
  <p><%= @user.email %></p>


  <p>
    <a href="<%= users_path %>" class="btn btn-primary">Acceder à lindex</a>
    <a href="<%= edit_user_path %>" class="btn btn-secondary">Editer</a>
    <a href="<%= user_path %>" class="btn btn-danger" data-turbo-confirm="êtes vous sur ?" data-turbo-method="DELETE">Supprimer</a>
  </p>