<main>
<div class=" team-background team-margin">

<div class="container">
  <h1 class="display-3">Bienvenue sur The Gossip Project !</h1>
  <p>
  The Gossip Project : Plongez dans un monde plein de mystère, de rumeurs et de secrets ! Partagez vos potins les plus croustillants et découvrez ceux des autres. Rejoignez la communauté et plongez dans l'aventure du gossip !</p>

</div>
</div>

<h1 class="text-center">Tous les gossips</h1>

<div class="row col-10 row-gossip">
<% @gossips.each do |gossip| %>
  <div class="col-sm-2">
<div class="card card-index">
<h5 class="card-title"><%= gossip.title %></h5>
  <p class="card-text">Par <%= gossip.user.first_name %></p>
  <div class="card__content">
  <h5 class="card-title"><%= gossip.title %></h5>
  <p class="card-text"><%= gossip.content %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to "Accéder au gossip", gossip_path(gossip.id), class: "btn bouton-gossip justify-content-md-end me-md-2" %>
  </div>
  </div>
</div>
<% end %>
</div>
</main>

