<main>

<div class="jumbotron ">
<div class="container">
  <h1 class="display-3">Hello, world!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn bouton-contact" href="#" role="button">Learn more &raquo;</a></p>
</div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1 class="text-center">Tous les gossips</h1>

    <div class="row col-10 row-gossip">
<% @gossip.each do |gossip| %>
<div class="col-sm-2">
  <div class="rounded text-light card align-items-center">
  <p class="card-text"><%= gossip.user.first_name %></p>
  <%= image_tag("user-image.png", class: "img-circle center", width: 55, height: 55) %>
  </div>
</div>
<div class="col-sm-9">
  <div class="rounded text-light bggossip ">
  <h5 class="card-title"><%= gossip.title %></h5>
  <p class="card-text"><%= gossip.content %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to "Accéder au gossip", gossip_path(gossip.id), class: "btn bouton-gossip justify-content-md-end me-md-2" %>
  <%= link_to "Supprimer", gossip_path(gossip.id), class: "btn bouton-gossip justify-content-md-end me-md-2", data: { confirm: "êtes-vous sûr ?" }, method: :DELETE %>
  </div>
  </div>
</div>
<% end %>
</div>
</main>


