<main>
<h1>Gossip#show</h1>
<p>Find me in app/views/gossip/show.html.erb</p>

<div class="box-show">
<div class="card card-gossip">
  <h5 class="card-title"><%= @gossip.title %></h5>
  <p class="card-title"><strong>Content : </strong> <%= @gossip.content %></p>
  <p class="card-text"> <a href="<%= user_path(@user.id) %>" class="btn bouton justify-content-md-end me-md-2"><strong>Author : </strong><%= "#{@user.first_name}, #{@user.last_name}" %></a></p>
  <p class="card-text"> </p>
  <p class="card-text"> <a href="<%= city_path(@city.id) %>" class="btn bouton justify-content-md-end me-md-2"><strong>City : </strong><%= @user.city.name %></a> </p>

  <p class="card-text"> <strong>Create : </strong><%= @gossip.created_at.strftime("%d/%m/%Y") %></p>
  <p class="card-text"> <strong>Comments : </strong></p>
  <div class="box-show-button">
  <%= link_to "Revenir à tous les gossips", gossips_path, class: "btn bouton-gossip justify-content-md-end me-md-2" %>
  <%= link_to "Editer", edit_gossip_path(@gossip), class: "btn bouton-gossip btn bouton-gossip justify-content-md-end me-md-2" %>
  <a href="<%= gossip_path(@gossip) %>" class="btn bouton-gossip justify-content-md-end me-md-2" data-turbo-method="DELETE" data-turbo-confirm="êtes vous sur ?">Supprimer</a>
  </div>
</div>
</div>
</main>

