<header>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Thirteenth navbar example">
<div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
    <%= link_to "The Gossip Project Winalexs", welcome_path, class: "navbar-brand col-lg-3 me-0" %>
    <ul class="navbar-nav col-lg-6 justify-content-lg-center">
      <li class="nav-item">
      <%= link_to "Acceuil", welcome_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
      <%= link_to "La Team", team_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Gossips</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Tous les gossips</a></li>
          <li><a class="dropdown-item" href="#">Création de gossips</a></li>
        </ul>
      </li>
      <li class="nav-item">
      <%= link_to "Contact", contact_path, class: "nav-link" %>
    </li>
    </ul>
    <div class="d-lg-flex col-lg-3 justify-content-lg-end">
      <button class="btn btn-primary">Button</button>
    </div>
  </div>
</div>
</nav>
</header>
<br>
<br>
<br>



    <div class="row">
    <% @gossip.each do |gossip| %>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
        <p class="card-text"><%= gossip.user.first_name %></p>
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text"><%= gossip.content %></p>
        </div>
      </div>
    </div>
    <% end %>
    </div>
